@charset "utf-8";
    .body{min-width: 1200px;}
    /* header start*/

    
    .topWrap .top{
        width: 1200px;
        margin: 0 auto;
        display: flex;justify-content: space-between;align-items: center;
    }
    .searchWrap{position: relative;}
    .searchWrap form{display: flex;}
    .searchWrap label{
        display: block;width: 60px;height: 20px;
        background-image: url(../images/searchtext.jpg);
        text-indent:-9999px;
        position: absolute;align-self:center;left: 15px;
    }
    .searchWrap .inp-search{
        width: 400px;height: 40px;
        border-radius: 25px;
        text-indent: 90px;
        border: 3px solid #58D20A;
        font-size:16px;
    }
    .searchWrap .inp-search:focus{outline: 0 none;}
    .searchWrap .btn-search{
        width: 40px;height: 20px;
        position: absolute;
        align-self: center;
        right: 10px;
        border: 0 none;
        background-image: url(../images/search.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        text-indent: -9999px;
        cursor: pointer;
    }
    .number p{font-size: 28px;margin-right: 10px;}
    .number {display: flex;justify-content: center;align-items: center;}
    .number li{float: left;padding: 2px;}
    .number li>img{display: block;}

    .menuWrap{border-top: 1px solid #DEDEDE;margin-bottom: 20px;}
    .menu{width: 1200px;margin: 0 auto;}
    .menu>ul{display: flex;justify-content:space-between;align-items: center;}
    .menu>ul>li{font-size: 20px;text-align: center;padding: 20px 30px;}

    /* header end */

    /* section start  */

    .content1Wrap{width: 1200px;margin: 0 auto;height: 670px;background: pink;margin-bottom: 20px;}
    .content1{width: 590px;background: #000;height: 670px;}
    .content1 .content1-1{width: 590px;height: 360px;background: blue;margin-bottom: 20px;}
    .content1 .content1-2{width: 590px;height: 290px;background: red;}
    .content1-2>ul{display: flex;justify-content: space-between;align-items: center;}
 
    .content1-2>ul>li>img{display: block;width: 285px;height: 225px;}
    .content1-2 .txt1,.txt2{
        display: flex;justify-content: space-between;align-items: center;height: 65px;width: 100%;
        background: #58D20A;padding: 0 20px;cursor: pointer;color: #fff;
    }
    .content2Wrap{
        width:1200px;margin: 0 auto;height:290px;background: purple;
        display: flex;justify-content: space-between;align-items: center;
    }
    
    .content2Wrap>div{position:relative;}
    .content2Wrap>div>img{display: block;;width: 285px;height: 290px;}
    .content2Wrap .txtWrap{position: absolute;bottom: 0;width: 100%;;height: 80px;padding: 20px;background:#58D20A;color: #fff;}
    .content2Wrap>div>ul>li:nth-child(1){font-size: 20px;margin-bottom: 5px;}
    .content2Wrap>div>ul>li:nth-child(2){font-size: 16px;}




    

