@charset "utf-8";

/* header */
.toggle{display: none;}
#header .navbar .submenu{display: none;}

#header{position: absolute;z-index: 99999;width: 100%;top: 20px;background: #fff;padding: 10px 0;}
#header.fixed{position: fixed;top: 0;padding: 5px 0;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}

#header .navbarWrap{width: 1240px;margin:0 auto;display: flex;justify-content: center;align-items: center;}

#header .navbar{margin-left: auto;margin-right: 10px;}
#header .navbar ul{display: flex;width: 700px;}
#header .navbar li{width: calc( 100% / 6 );position: relative;}
#header .navbar li:after{
    content: "";position: absolute;width: 100%;height: 3px;
    background: #F43B00;transition: 0.3s;transform: scaleX(0);
}
#header .navbar li:hover:after{transform: scaleX(1);}
#header .navbar li a{height: 40px;display: flex;justify-content: center;align-items: center;}

#header .lang{display: flex;width: 80px;}
#header .lang .kor,
#header .lang .eng{
    width: 80px;height: 40px;display: flex;justify-content: center;align-items: center;
    border: 1px solid #F43B00;margin-left: -1px;background: #fff;
    font-size: 14px;color: #180803;font-weight: bold;cursor: pointer;
}
#header .lang .active{background: #F43B00;color:white}



/* visual  */
.visualWrap .bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.visualWrap .sImg{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;justify-content: center;align-items: center;
}
.visualWrap .bx-wrapper .bx-pager{bottom: 350px;}
.visualWrap .txtBody{
    transform: translate(1000px,-150px);
    color: #F43B00;font-size: 3vw;width: 80vw;}
.visualWrap .txtBody .stxt{
    font-style: italic;font-weight: bold;font-size: 3.5vw;
}

/* contents  */

.contents{width: 1240px;margin: 0 auto;margin-top: -310px;margin-bottom: 60px;}
.contents>ul{display: flex;flex-wrap: wrap;position: relative;}
.contents>ul>li{width: 25%;height: 310px;}
.contents>ul>li:nth-child(1){background: #F43B00}
.contents>ul>li:nth-child(2){background: red;}
.contents>ul>li:nth-child(3){width: 50%;}
.contents>ul>li:nth-child(4){background: #FBF4E4;}
.contents>ul>li:nth-child(5){background: #F43B00}
.contents>ul>li:nth-child(6){width: 50%;}
.contents>ul>li:nth-child(7){height: 620px;}
.contents>ul>li:nth-child(8){width: 50%;}
.contents>ul>li:nth-child(9){background: #F43B00}
.contents>ul>li:nth-child(10){position: absolute;bottom: 0;right: 620px;background: #FBF4E4;}
.contents>ul>li:nth-child(11){width: 50%;;position: absolute;right: 0;bottom: 0;}

.contents>ul>li>a{
    height: 100%;display: flex;justify-content: center;align-items: center;
}
.contents .card img{margin: 0 auto;margin-bottom: 10px;display: block;}
.contents .card p{color: white;text-align: center;}
.contents .card .cardtxt {color: #F43B00;}

.contents .news {position: relative;}
.contents .news .item>ul {display: flex;}
.contents .news .item>ul>li {width: 50%;background: white;}
.contents .news .item>ul>li:nth-child(1){padding: 35px 30px;position: relative;}
.contents .news .item>ul>li:nth-child(1):after{
    content: "";display: block;
    border-width: 20px;
    border-color: transparent transparent transparent white;
    border-style: solid;
    position: absolute;
    right: -40px;top: 50%;
    transform: translateY(-50%);
}
.contents .news .item>ul>li:nth-child(1)>h3{margin-bottom: 10px;}

.contents .news .bx-wrapper{
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0 none;
    margin-bottom: 0;
}
.contents .news .bx-pager{display: none;}
.contents .news .btnWrap{
    position: absolute;bottom: 30px;display: flex;left: 200px;border: 1px solid #000;cursor: pointer;
}
.contents .news .btnWrap img{display: block;}
.contents .news .btnWrap .left{border-right: 1px solid #000;}

.contents .txtCard{color: white;}
.contents .txtCard p:after{
    content: "";display: block;
    width: 50px;height: 2px;background: white;
    margin: 10px 0;
}
.contents .txtCard h3{font-size: 2em;}

/* container  */

.container{background: url(../images/containerbg.png) no-repeat center fixed;
    background-size: cover;color: white;padding: 70px 0;}
.container .section{width: 1240px;margin: 0 auto;}
.container .section>h4{text-align: center;}
.container .section>h4:after{content: "";display: block;width: 50px;height: 2px;background: white;margin: 20px auto;}
.container .section>p{text-align: center;font-size: 2em;margin-bottom: 40px;}
.container .section ul{display: flex;justify-content: space-between;}

.container .section .ban li{
    width: calc( (100% - 45px ) / 4);
    cursor: pointer;transition: 0.3s;
}
.container .section .ban li:hover{transform: translate(-10px,-10px);}

.container .cCard >img{display: block;margin: 0 auto;margin-bottom: 20px;}
.container .cCard .cCard-body{text-align: center;}
.container .cCard .cCard-body >h3{margin-bottom: 20px;}

/* sContainer  */

.sContainer{width: 1240px;margin: 0 auto;display: flex;margin-bottom: 60px;}
.sContainer .sns{background: #F43B00;position: relative;width: calc( 1240px / 4 );flex-shrink: 0;}
.sContainer .sns .snsIcon{display: block;margin: 0 auto;padding: 20px 50px}
.sContainer .sns .sns-body{padding: 0 50px;color: white;}
.sContainer .sns .sns-body h3{text-align: center;margin-bottom: 20px;}
.sContainer .sns .day{margin-top: 20px;}
.sContainer .sns .sbtnWrap{
    position: absolute;bottom: 30px;display: flex;
    left: 150px;border: 1px solid #000;cursor: pointer
}
.sContainer .sns .sbtnWrap img{display: block;}
.sContainer .sns .sbtnWrap .sleft{border-right: 1px solid #000;}

.sContainer .swiperWrap{width: calc( 1240px * ( 3/4 ) );overflow: hidden;}
.sContainer .swiperWrap ul{display: flex;}
.sContainer .swiperWrap li.basic img{width: 100%;display: block;}
.sContainer .swiperWrap li.basic p{height: 310px;padding: 10px 25px;background: #eee;}
.sContainer .swiperWrap li.basic{position: relative;display: flex;flex-direction: column;width:calc( 100% / 3);}
.sContainer .swiperWrap li.basic:after{
    content: "";display: block;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;top: 50%;left: 50%;
    transform: translateY(-20px);
}

.sContainer .swiperWrap li.basic.change img{order: 1;}
.sContainer .swiperWrap li.basic.change p{order: 0;}
.sContainer .swiperWrap li.basic.change:after{
    transform: translateY(0px) rotate(180deg);
}

.sContainer .swiperWrap .basic .heart{width: 100%;position: absolute;bottom: 30px;left: 20px;display: flex; }
.sContainer .swiperWrap .basic .heart img{width: 25px;margin-right: 20px;}

.sContainer .swiperWrap .basic.change .heart{width: 100%;position: absolute;bottom: 330px;left: 20px;display: flex; }
.sContainer .swiperWrap .basic.change .heart img{order: 0;}

/* banner  */

.banner{width: 1240px;margin: 0 auto;margin-bottom: 60px;}
.banner>ul{display: flex;}
.banner>ul>li{
    width: 100%;height: 310px;position: relative;
    background-position: center;background-repeat: no-repeat;background-size: cover;}
.banner .btxt{padding: 30px 0 0 30px;color: white;}
.banner .btxt h3{font-size: 2em;}
.banner .btxt h3:after{
    content: "";display: block;
    width: 50px;height: 2px;background: white;
    margin: 10px 0;
}
.banner .bbutton{
    position: absolute;bottom: 30px;left:30px;color: white;border: 1px solid #fff;
    padding: 10px 40px;cursor: pointer;
}

/* footer  */
    .footer{
        width: 1240px;margin: 0 auto;
        display: flex;align-items: center;justify-content: space-around;
        border-top: 1px solid gray;
    }
    .footer .ftxt p{padding: 20px;}
    .footer .ftxt>ul>li{float: left;padding: 20px;flex-direction: column;}
    .footer .ftxt .adress{font-size: 14px;}
    .footer select{padding: 10px 20px;}
    
    /* sub  */
    
    .ssection .ssectionbg{
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 40px;
    }
    .ssection .brandtxt{
        width: 1240px;margin: 0 auto;
        display: flex;flex-direction: column;align-items: center;
        
    }
    .ssection .brandtxt .locat{align-self: flex-end;}
    .ssection img{width: 1240px;margin: 0 auto;display: block;}
    .ssection .mb{display: none;}

/* common  */
.flex-none{display: block !important;}
.pt30{padding-top: 30px !important;}
.pl30{padding-left: 30px !important;}