@charset "utf-8";


ul,li{list-style: none;}

.btn:hover{color: #fff;background: #ffc107;
    border-color: #ffc107;}

.btn.btn2{background: red;}

.topMenu li.active{background: #ffc107;border-radius: 5px;}

.videoWrap  #video{

        object-fit: fill;
        width: 100%;
    }  
    
.mdotext{font-size:60px;}

.page3 {background:url(../images/bgbg.jpg) no-repeat center;background-size: cover;}
.page3 .bike.move{animation: xScroll 5s infinite alternate;transform: translateX(500px);}
/* .page3 .bike{transform: translateX(900px);transition: 3s;}
.page3 .bike.move{transform: translateX(-1500px);} */

.section.page5{height: 300px !important;background: #292929;color: #fff;}
.section.page5 .icon>ul>li{
    width: 45px;height: 45px;background: white;
    display: flex;justify-content: center;align-items: center;
    border-radius: 50%;margin: 0 5px;
}


@media screen and (max-width:568px){
    .page3 .mdotext{font-size: 3vh;}
    /* .swiper-button-next,.swiper-button-prev{display: none;} */
    /* .slidebox{display: flex;} */

}
@keyframes xScroll{
    to{transform:translateX(-1500px)}
}
.nextBtn{
    position: absolute;bottom: 80px;left:50%;transform: translateX(-50%);
    animation: xScroll 0.8s infinite alternate;
}
@keyframes xScroll{
    to{bottom:50px}
}
